<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://plugin.powerschool.pearson.com" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://plugin.powerschool.pearson.com plugin.xsd"
        name="Class Choice" version="0.8" description="Collects information for Class Choice section creation script.">
  <oauth/>
  <publisher name="Brandon Sorensen">
    <contact email="brandon.sorensen@malad.us"/>
  </publisher>
  <access_request>
    <field table="courses" field="course_number" access="ViewOnly"/>
    <field table="courses" field="course_name" access="ViewOnly"/>
    <field table="sections" field="SchoolID" access="ViewOnly"/>
    <field table="sections" field="ID" access="ViewOnly"/>
    <field table="sections" field="Teacher" access="ViewOnly"/>
    <field table="sections" field="Course_Number" access="ViewOnly"/>
    <field table="sections" field="Section_Number" access="ViewOnly"/>
    <field table="sections" field="TermID" access="ViewOnly"/>
    <field table="sections" field="MaxEnrollment" access="ViewOnly"/>
    <field table="sections" field="Expression" access="ViewOnly"/>
    <field table="sections" field="Room" access="ViewOnly"/>
    <field table="teachers" field="id" access="ViewOnly"/>
    <field table="teachers" field="First_Name" access="ViewOnly"/>
    <field table="teachers" field="Middle_Name" access="ViewOnly"/>
    <field table="teachers" field="Last_Name" access="ViewOnly"/>
    <field table="students" field="First_Name" access="ViewOnly"/>
    <field table="students" field="Last_Name" access="ViewOnly"/>
    <field table="students" field="SchoolID" access="ViewOnly"/>
    <field table="students" field="Student_Number" access="ViewOnly"/>
  </access_request>
</plugin>
